<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Events</title>
    
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    
    
</head>
<body>



	<div class="container">
	
		<h3>Create New Event</h3>
		<hr>
		
		<p class="h4 mb-4">New Event</p>
	
		<form action="#" th:action="@{/events/save}"
						 th:object="${event}" method="POST">
		
			<input type="text" th:field="*{event_name}"
					class="form-control mb-4 col-4" placeholder="Name">
			
    <!--		<input type="date"  th:field="*{event_date}" th:value="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm:ss')}"
					class="form-control mb-4 col-4" >
			  -->	
			  <input type="datetime-local"   th:value="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm:ss')}"
					name="Edate" class="form-control mb-4 col-4" />

			<input type="hidden" name="userId" th:value="${session.user.id}" />	
			is private
			 <input type="checkbox" th:field="${event.ozel}" th:value="0" /> 
<br><br>
			<button type="submit" class="btn btn-info col-2">Create</button>
						
		</form>

	</div>




<div class="container">
    <div class="row">
        <h3>My Events</h3>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
        <thead class = "thead dark">
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Id</th>
                <th>Greetings</th>
                <th>Send Greeting</th>
            </tr>
            </thead>
            <tr th:each="event : ${events}">
                <td> 
                <a th:href="@{/eventd?eventId={path}(path=${event.id})}" 
                th:text="${event.event_name}"> </a></td>
                <td th:text="${event.event_date}"></td>
                <td th:text="${event.id}"></td>
                <td> 
                		<form action="#" th:action="@{/events}" method="GET">
					
						<input type="hidden" name="eventId" th:value="${event.id}" />						
						<button type="submit" class="btn btn-info btn-sm">Show</button>

					</form>
                
                <ul>
                
                <li th:each="tempGreeting : ${greetings}" th:if="${tempGreeting.getEventid()} == ${event.id}" th:text="${tempGreeting.message}" >
                </li>
                </ul>
                
                </td>
                
                <td>
                
                		<form action="#" th:action="@{/greeting/save}"
						 th:object="${greeting}" method="POST">
		
			<input type="text" th:field="*{message}"
					class="form-control mb-4 col-4" placeholder="Message">

			<input type="hidden" name="userId" th:value="${session.user.id}" />	
	<input type="hidden" name="eventId" th:value="${event.id}" />
	
			<button type="submit" class="btn btn-info col-2">Send</button>
						
		</form>
                
                </td>
                
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>
        <div th:if="${events.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${events.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/events/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${events.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/events/(pageSize=${selectedPageSize}, page=${events.number})}">&larr;</a>
                </li>
                <li th:class="${events.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink" th:href="@{/events/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li th:class="${events.number + 1 == events.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/events/(pageSize=${selectedPageSize}, page=${events.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${events.number + 1 == events.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/events/(pageSize=${selectedPageSize}, page=${events.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
			
	<!-- Back to Welcome main page -->
	
<a th:href="@{/}">Back to Main Page</a>

	
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>