<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SpringIst-anbul WELCOME Home Page</title>
	
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	
</head>

<body>












<h2>SpringIst-anbul WELCOME Home Page</h2>

<hr>

<p>
	To send a greeting go to login and register page
	
	<a th:href="@{/home}">Log in Page</a>
	
</p>

<hr>



<div class="container">

	<h3>Message Directory</h3>
	<h6>Last 5 messages</h6>
	<hr>
		
	<table class="table table-bordered table-striped">
		<thead class = "thead dark">
			<tr>

				<th>Message 			

								<form action="#" th:action="@{/}" 
						 th:object="${greeting}" method="GET">
					
					 <input type="text"  name="searchValue"
					class="form-control mb-4 col-4" placeholder="Search Message "> 
					
					<button type="submit" class="btn btn-info col-2">Search</button>
					</form>
					
					</th>
				<th>Date Time</th>
				<th>User</th>
			</tr>
			
			
		</thead>
		
		<tbody>
		<th:block th:each="tempGreeting, count : ${greeting}">
			<tr th:if="${count.count} le 5">
			
				<td th:text="${tempGreeting.message}" />
				<td th:text="${tempGreeting.post_date}" />	
				<td th:text="${tempGreeting.user.getUserName()}" />	
				
			</tr>
			</th:block>
		</tbody>		
	</table>
	
</div>	





<div class="container">
    <div class="row">
        <h3>Events</h3>
        	<h6>Last 5 events</h6>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
        <thead class = "thead dark">
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Id</th>

            </tr>
            </thead>
            <tr th:each="event : ${events}">
                <td> 
                <a th:href="@{/eventd?eventId={path}(path=${event.id})}" 
                th:text="${event.event_name}"> </a></td>
                <td th:text="${event.event_date}"></td>
                <td th:text="${event.id}"></td>

                
            </tr>
        </table>
    </div>
   
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.js}"></script>






<a th:href="@{/}">Back to Home Page</a>

</body>

</html>









